@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


// -----------**        **----------- //
// -----------** Layout **----------- //
// -----------**        **----------- //

$site-width: 1116px;
$grid-gap: 24px;
$grid-gap-small: 16px;

// -----------**         **----------- //
// -----------** Margins **----------- //
// -----------**         **----------- //

$container-padding: 16px;
$container-padding-small: 12px;
$container-padding-x-small: 8px;
